* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.activation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:100px;
  margin-bottom:100px;
  }

  .activation-box{
    height: 400px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: 1px solid black;
    box-shadow: 10px 15px 5px rgba(0, 0, 0, 0.35);
  }

  .activation-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  .activation-heading {
    background-color: #fff;
    font-size: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    margin-bottom: 3rem;

    border: none;
    border-radius: 200px 30px 30px 150px;
  }
  
  .activation-loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #a4d9a4;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .activation-content input[type="text"],
.activation-content button {
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  outline: none;
  transition: background-color 0.3s ease;
}

.activation-content input[type="text"] {
  background-color: #f5f5f5;
}

.activation-content input[type="text"]:focus {
  background-color: #e0e0e0;
}

.activation-content button {
  background-color: #c1eac1;
  color: #fff;
  cursor: pointer;
}

.activation-content button:hover {
  background-color: #a4d9a4;
}


  